body{
	font-family: 'Inconsolata', monospace;
}
#bigMomContainer{
	padding-left: 0;
	padding-right: 0;
}
#topBar{
	background-color: #fafafa;
	margin: 0;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	box-shadow:0 1px 2px #a9b2b2;
    -webkit-box-shadow:0 1px 2px #a9b2b2;
    -moz-box-shadow:0 1px 2px #a9b2b2;
}
#title{
		font-weight: bold;
}
#bossLogo{
	height: 100px;
	width: 100px;
	padding: 2px;
	border-radius:50%;
	border: 4px solid black;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.hashtag{
	margin-bottom: 2px;
	padding: 2px;
	font-size: 120%;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
}
.hashtag:hover{
	color: #fff;
	background-color: black;
}
#motherTagA{
	color: black;
}
#motherTagA:hover{
	color: black;
}
#motherTagA:active{
	color: black;
}
#motherTagA:visited{
	color: black;
}